:root {
  --fnbg-color: #9db9ba;
  --main-bg-color: #328385;
}

.blogpost--img__container {
  padding: 0 50px 40px;
  text-align: center;
}

.blogpost--img__container img {
  width: 100%;
}

.blogpost--main__container {
  padding: 0 50px 40px;
}

.blogpost--main__container h3 {
  border-bottom: 1px solid var(--fnbg-color);
  padding-bottom: 20px;
}

article h1 {
  font-size: 35px;
}

.contact--main__container {
  background-color: rgba(33, 35, 47, 0.226);
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: space-around;
}

.contact {
  display: flex;
  padding: 100px0;
}

.contact a {
  border-bottom: 1px solid black;
}

.contact img {
  height: 90px;
  margin-right: 10px;
  margin-top: 14%;
}
