@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --main-bg-color: #328385;
}

body {
  font-family: "Roboto mono", monospace;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Header */

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header--icons__container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: var(--main-bg-color);
}

header .header--icons__container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  background-color: rgba(0, 0, 0, 0);
}

.nav--logo__container {
  margin-left: 50px;
  height: inherit;
}

.nav--logo__container img {
  margin-top: 10px;
  height: 70px;
}

.profile--link {
  place-self: center flex-end;
  margin-right: 50px;
  border-bottom: 1px solid black;
}

/* Main */

.home--main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url("../assets/space-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home--main div {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 50px;
}

h1 {
  font-size: 45px;
  margin: 0;
  color: papayawhip;
  font-family: "Roboto mono", monospace;
}

.home--main__text {
  margin: 0;
  font-size: 30px;
  font-weight: 700px;
  letter-spacing: 7px;
  text-align: center;
  color: papayawhip;
  font-family: "Roboto mono", monospace;
}

.home--main__button {
  width: 130px;
  height: 34px;
  border-radius: 7px;
  background-color: var(--main-bg-color);
}

.home--main__button a {
  font-weight: 700;
  font-size: 18px;
}
